In [1]:
#importing possible libraries and dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from path import Path

In [2]:
#file path will be update to the table created in our sql database
file_path = "/Users/joshzaragoza/Arizona_Election_Project/AZ_Dummy_Voter_File.csv"
Arizona_Election_df = pd.read_csv(file_path)
Arizona_Election_df.head(10)

,Voter File VANID,Party,mAddress,mCity,mState,mZip5,mZip4,Sex,Address,City,...,Suffix,CD,SD,HD,PreferredEmail,Age,Partisan Score,Turnout Score,Ethnicity,Voting History
0,4874086,Democratic,2134 E Copper St,Tucson,AZ,85719,3212.0,F,2134 E Copper St,Tucson,...,NaN,2,9,9,NaN,34,63,75,White,3
1,4874240,Democratic,7562 E Fayette St,Tucson,AZ,85730,2415.0,M,7562 E Fayette St,Tucson,...,NaN,2,10,10,NaN,34,63,75,White,3
2,4875194,Democratic,1111 S Duke Dr,Tucson,AZ,85710,8736.0,M,1111 S Duke Dr,Tucson,...,NaN,2,10,10,NaN,34,63,75,White,3
3,4875427,Democratic,7238 E Elbow Bay Pl,Tucson,AZ,85710,1336.0,F,7238 E Elbow Bay Pl,Tucson,...,NaN,2,10,10,NaN,34,63,75,White,3
4,4875943,Democratic,3015 S Nicolette Dr,Tucson,AZ,85730,6111.0,M,3015 S Nicolette Dr,Tucson,...,Jr,2,10,10,NaN,34,63,75,White,3
5,4876677,Democratic,6828 S Tackweed Way,Tucson,AZ,85756,5141.0,F,6828 S Tackweed Way,Tucson,...,NaN,3,2,2,NaN,34,63,75,White,3
6,4876972,Democratic,1180 N Corinthian Pl,Tucson,AZ,85715,5443.0,F,1180 N Corinthian Pl,Tucson,...,NaN,2,10,10,NaN,34,63,75,White,3
7,4878044,Democratic,4051 N Tyndall Ave,Tucson,AZ,85719,1019.0,F,4051 N Tyndall Ave,Tucson,...,NaN,2,9,9,NaN,34,63,75,White,3
8,4878236,Democratic,6512 E Brian Kent,Tucson,AZ,85710,1109.0,M,6512 E Brian Kent,Tucson,...,NaN,2,10,10,NaN,34,63,75,White,3
9,4879011,Democratic,7431 E Calle Sinaloa,Tucson,AZ,85710,3722.0,U,7431 E Calle Sinaloa,Tucson,...,NaN,2,10,10,NaN,34,63,75,White,3

In [3]:
#seeing all data types
Arizona_Election_df.dtypes

Voter File VANID      int64
Party                object
mAddress             object
mCity                object
mState               object
mZip5                 int64
mZip4               float64
Sex                  object
Address              object
City                 object
State                object
Zip5                  int64
Zip4                float64
LastName             object
FirstName            object
MiddleName           object
Suffix               object
CD                    int64
SD                    int64
HD                    int64
PreferredEmail      float64
Age                   int64
Partisan Score        int64
Turnout Score         int64
Ethnicity            object
Voting History        int64
dtype: object

In [4]:
#Drop all columns contained unecesarry features or null nan 
Arizona_Election_df.drop(columns=["Voter File VANID","mAddress","mCity","mState","mZip5","mZip4","Address","City","State","Zip5","Zip4","LastName","FirstName","MiddleName","Suffix","CD","SD","HD","PreferredEmail","Age","Turnout Score","Ethnicity"], inplace=True)
Arizona_Election_df

           Party Sex  Partisan Score  Voting History
0     Democratic   F              63               3
1     Democratic   M              63               3
2     Democratic   M              63               3
3     Democratic   F              63               3
4     Democratic   M              63               3
...          ...  ..             ...             ...
9994       Other   F              63               2
9995       Other   M              63               2
9996       Other   M              63               2
9997       Other   F              63               2
9998       Other   F              63               2

[9999 rows x 4 columns]

In [5]:
#drop any null or nan in the data frame 
Arizona_Election_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace=False)
Arizona_Election_df

           Party Sex  Partisan Score  Voting History
0     Democratic   F              63               3
1     Democratic   M              63               3
2     Democratic   M              63               3
3     Democratic   F              63               3
4     Democratic   M              63               3
...          ...  ..             ...             ...
9994       Other   F              63               2
9995       Other   M              63               2
9996       Other   M              63               2
9997       Other   F              63               2
9998       Other   F              63               2

[9999 rows x 4 columns]

In [6]:
#converting label columns from txt to numerical model can only work with numberical numbers
X = pd.get_dummies(Arizona_Election_df, columns=["Sex","Party",]).drop('Partisan Score', axis=1)

# Create our target
y = Arizona_Election_df['Partisan Score']
X.head()

,Voting History,Sex_F,Sex_M,Sex_U,Party_Democratic,Party_Other,Party_Republican
0,3,1,0,0,1,0,0
1,3,0,1,0,1,0,0
2,3,0,1,0,1,0,0
3,3,1,0,0,1,0,0
4,3,0,1,0,1,0,0

In [7]:
X.describe()

,Voting History,Sex_F,Sex_M,Sex_U,Party_Democratic,Party_Other,Party_Republican
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,3.130513,0.493949,0.362536,0.143514,0.398640,0.209321,0.392039
std,0.701118,0.499988,0.480757,0.350614,0.489643,0.406844,0.488230
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
max,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
X.value_counts()

Voting History  Sex_F  Sex_M  Sex_U  Party_Democratic  Party_Other  Party_Republican
3               1      0      0      1                 0            0                   1948
                0      1      0      1                 0            0                   1534
4               1      0      0      0                 0            1                   1499
                0      1      0      0                 0            1                   1026
2               1      0      0      0                 1            0                    956
                0      1      0      0                 1            0                    631
3               0      0      1      1                 0            0                    504
4               0      0      1      0                 0            1                    467
3               1      0      0      0                 0            1                    435
                0      1      0      0                 0            1                    352
2               0      0      1      0                 1            0                    303
3               0      0      1      0                 0            1                    141
4               1      0      0      0                 1            0                    101
                0      1      0      0                 1            0                     82
                       0      1      0                 1            0                     20
dtype: int64

In [9]:
#check the balance of our target very important spent a good time trying to figurere out 
y.value_counts()

63    9999
Name: Partisan Score, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [11]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [12]:
# importing module
from sklearn.linear_model import LinearRegression
# creating our model and assigning its function
model = LinearRegression()
# fitting the training data
model .fit(X,y)

LinearRegression()

In [13]:
y_prediction =  model.predict(X_test)
y_prediction

array([63., 63., 63., ..., 63., 63., 63.])

In [14]:
# importing r2_score module
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")

R2 Score: 1.0

In [15]:
#importing possible libraries and dependencies
import pandas as pd
from path import Path
from sqlalchemy import create_engine
from config import db_password

In [ ]:
# engine = sqlalchemy.create_engine(cnxn_string)
# comics.to_sql('my_table', engine, index=False, if_exists='append')

In [16]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Arizona_Elections"

In [17]:
Arizona_Election_df.to_sql(name='Elections', con=db_string)